doctype 5
html lang="en"
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    title #{title ||= "Sahib"}
    link rel="stylesheet" href="/assets/bootstrap/3.3.5/bootstrap.min.css"
    link href="/css/app.css" rel="stylesheet"
    link href="/css/print.css" rel="stylesheet"
    link href="/favicon.ico" rel="shortcut icon"
    script src="/assets/js/js-libs.js"
  body
    .container
      .row.hidden-print
        .voffset-1
        .col-xs-5
          form#search-form name="search" role="search"
            input.form-control.input-lg#searchinput placeholder=("Klasse oder Name eingeben …") type="text" /
        -if request.path_info.start_with?("/dokumente/")
          .col-xs-offset-1.col-xs-4
            a.btn.btn-success.btn-lg href="#{request.url}/#{pdf_name}.pdf?pdf_format=#{doc.get "Format"}&pdf_orientierung=#{doc.get "Orientierung"}"
              |PDF erzeugen
      .row.hidden-print
        .modal.fade#fehler-modal
          .modal-dialog
            .modal-content
              .modal-header
                button.close aria-label="Close" data-dismiss="modal" type="button"
                  span aria-hidden="true"  &times;
                h4.modal-title Warnung
              .modal-body#fehler-modal-body
                dl.dl-horizontal#fehler-modal-body-name
              .modal-footer
                button.btn.btn-default data-dismiss="modal" type="button"  OK
        .voffset-1
      ==yield
    javascript:
      (function() {
        var status = function(s,j) {
          var color;
          var text = "✓";
          switch (s) {
            case 2:
              color = "success";
              break;
            case 8:
              color = "warning";
              break;
            case 9:
              color = "danger";
              text = j;
              break;
            default:
              color = "info";
          }
          return '<span class=\"label label-' + color + '\">' + text + '</span>'
        };
        var schueler = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          limit: 30,
          remote: '/suche/schueler/autocomplete.json?pattern=%QUERY'
        });
        var klassen = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          limit: 30,
          remote: '/suche/klassen/autocomplete.json?pattern=%QUERY'
        });
        schueler.initialize();
        klassen.initialize();

        $("#searchinput").typeahead(null, {
          name: 'name',
          displayKey: 'value',
          source: klassen.ttAdapter()
        },
        { name: 'name',
          displayKey: 'value',
          source: schueler.ttAdapter(),
          templates: {
            suggestion: function (data) {
              return '<p>' + data.value + ' ' + status(data.status, data.jahr) + '</p>';
              }
          }
        }).on("typeahead:selected typeahead:autocompleted", function(e, datum) { window.location.href = datum.link; });
        $("#searchinput").focus();
        $(".clickable-row").click(function() {
          window.document.location = $(this).data("url");});
        $('[data-toggle="tooltip"]').tooltip();
        if (#{request.path_info.start_with?("/dokumente/")}) {
          var warnungen = #{{Presenters::Warnung.flush.to_json}}
          if (Object.keys(warnungen).length > 0) {
            for (var schueler in warnungen) {
              $("#fehler-modal-body-name").append("<dt>"+schueler+"</dt>")
              for (var meldung of warnungen[schueler]) {
                $("#fehler-modal-body-name").append("<dd>"+meldung+"</dd>")
              }
            }
            $('#fehler-modal').modal();
          }
        }
        $('img[data-failover]').error(function(){
          var failover = $(this).data('failover');
          if (this.src != failover){
            this.src = failover;
          }
        });
      }).call(this);
