@font-face {
  font-family: 'TeX Gyre Heros';
  src: url('/fonts/texgyreheros-regular-webfont.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'TeX Gyre Heros';
  src: url('/fonts/texgyreheros-bold-webfont.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'TeX Gyre Heros';
  src: url('/fonts/texgyreheros-italic-webfont.woff') format('woff');
  font-style: italic;
}

@font-face {
  font-family: 'TeX Gyre Heros';
  src: url('/fonts/texgyreheros-bolditalic-webfont.woff') format('woff');
  font-style: italic;
  font-weight: bold;
}
hr {
  border-color: #000;
  height: 1px;
  margin: 3px 0;
}
.table-noten {
  margin-top: 1em;
  margin-bottom: 1em;
}
.fach-bezeichnung {
  margin-left: 20mm;
}
.fach-note {
  background-color: #c0c0c0 !important;
  text-align: center;
  border: 5px white solid;
}
.box-datum {
  position: absolute;
  bottom: 40mm;
}
.box-unterschrift {
  position: absolute;
  bottom: 20mm;
  width: 100%;
  font-size: 7pt;
}
.box-kleingedrucktes {
  position: absolute;
  bottom: 0mm;
  font-size: 7pt;
}
.seitenlogo {
  position: absolute;
  bottom: 10mm;
  left: 10mm;
}
.voffset-20 {
  margin-top: 20px;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.page {
  position: relative;
  // 296 für Chrome, andere sind mit 197 ok
  width: 210mm;
  height: 296mm;
  padding: 10mm 25mm 10mm 25mm;
  background-color: #ffeaea;
  -webkit-print-color-adjust: exact;
}
.subpage {
  font: 10pt "Tex Gyre Heros" !important;
  background-color: white;
  position: relative;
  min-height: 100%;
}
@media print {
  @page {
    size: A4;
  }
  .container {
    padding: 0;
    margin: 0;
  }
  .page {
    page-break-after: always;
  }
}
