$font-stack:    "Tex Gyre Heros";
$font-color-light:  #c0c0c0;

@font-face {
  font-family: 'TeX Gyre Heros';
  src: url('/fonts/texgyreheros-regular-webfont.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'TeX Gyre Heros';
  src: url('/fonts/texgyreheros-bold-webfont.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'TeX Gyre Heros';
  src: url('/fonts/texgyreheros-italic-webfont.woff') format('woff');
  font-style: italic;
}

@font-face {
  font-family: 'TeX Gyre Heros';
  src: url('/fonts/texgyreheros-bolditalic-webfont.woff') format('woff');
  font-style: italic;
  font-weight: bold;
}
hr {
  border-color: #000;
  height: 1px;
  margin: 3px 0;
  &.hr-rot {
    border-color: #ff2700;
    margin: 8px 0;
  }
  &.hr-grau {
    border-color: rgb(100,100,100) !important;
  }
}
.table-eng {
  margin-bottom: 0px;
  td {
  padding: 1px !important;
  font-size: 9pt;
  }
}
td.td-center {
  text-align: center;
}
th.rotate {
  /* Something you can count on */
  height: 86px;
  white-space: nowrap;
  div {
    transform:
    /* Magic Numbers */
    translate(22px, 50px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
    width: 30px;
    span {
      border-bottom: 1px solid #ccc;
      padding: 5px 0;
    }
  }
}
.table-noten {
  margin-bottom: 1em;
}
.fach-bezeichnung {
  padding-left: 10mm;
  &.padding-5 {
    padding-left: 75px;
  }
}
.td-fach-note {
  border: 5px white solid;
  padding: 0;
  width: 12em;
  span {
    background-color: #c0c0c0 !important;
    text-align: center;
    width: 10em;
    display: block;
    vertical-align: middle;
    margin:0 auto;
  }
}
.td-padding-extra {
  padding: 2mm 0 2mm 0;
}
.fachgruppe-margin {
  padding-top: 0.3em;
}
.pull-bottom {
  position: absolute;
  bottom: 0;
  padding: 0;
  //row zu kurz, wenn Text nicht mehrzeilig ist
  width: 100%;
  .schulnummer {
    text-align: right;
  }
}
.klein {
  font-size: 8pt;
}
.klein-7 {
  font-size: 7pt;
}
.klein-8 {
  font-size: 8pt;
}
.klein-9 {
  font-size: 9pt;
}
.eng {
  line-height: 1.3em;
}
.grau {
  color: rgb(100,100,100) !important;
}
.seitenlogo {
  position: absolute;
  bottom: 10mm;
  left: 10mm;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.page {
  position: relative;
  padding: 10mm 25mm 10mm 25mm;
  &:active {background-color: #ffeaea;}
  border: 1px solid black;
  -webkit-box-shadow: 5px 5px 4px 0px rgba(192,192,192,1);
  -moz-box-shadow: 5px 5px 4px 0px rgba(192,192,192,1);
  box-shadow: 5px 5px 4px 0px rgba(192,192,192,1);
  -webkit-print-color-adjust: exact;
}
.subpage {
  font: 10pt $font-stack;
  background-color: white;
  position: relative;
  min-height: 100%;
  &.font-size-11 {
    font: 11pt $font-stack;
  }
}
@media print {
  * {
    //alles was Farbe hat mitdrucken
    -webkit-print-color-adjust: exact;
  }
  //Bootstrap-Eigenart Links mit auszudrucken...
  a[href]:after {
    content: "";
  }
  .page {
    page-break-after: always;
    margin: 0px;
    border: none;
    margin-bottom: 0px;
    -webkit-box-shadow:initial;
    -moz-box-shadow:initial;
    box-shadow: initial;
  }
}
