@font-face {
  font-family: 'TeX Gyre Heros';
  src: url('/fonts/texgyreheros-regular-webfont.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'TeX Gyre Heros';
  src: url('/fonts/texgyreheros-bold-webfont.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'TeX Gyre Heros';
  src: url('/fonts/texgyreheros-italic-webfont.woff') format('woff');
  font-style: italic;
}

@font-face {
  font-family: 'TeX Gyre Heros';
  src: url('/fonts/texgyreheros-bolditalic-webfont.woff') format('woff');
  font-style: italic;
  font-weight: bold;
}
hr {
  border-color: #000;
  height: 1px;
  margin: 3px 0;
}
.table-noten {
  margin-top: 1em;
  margin-bottom: 1em;
}
.fach-bezeichnung {
  padding-left: 10mm;
}
.fach-note {
  background-color: #c0c0c0 !important;
  text-align: center;
  border: 5px white solid;
  padding-left: 5mm;
  padding-right: 5mm;
}
.lernbereich {
  padding-left: 20mm;
}
.box-datum {
  position: absolute;
  bottom: 40mm;
}
.box-unterschrift {
  position: absolute;
  bottom: 20mm;
  width: 100%;
  font-size: 7pt;
}
.box-kleingedrucktes {
  position: absolute;
  bottom: 0mm;
  font-size: 7pt;
}
.seitenlogo {
  position: absolute;
  bottom: 10mm;
  left: 10mm;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
